
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
    

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #555;
 }
.con {
    height: 1024px;
    width: 1440px;
    display: flex;
    margin-top: 50px;
    background: #fff;
    position: relative;
}

.bir {
    width: 560px;
    margin: 0 auto;
}

.con2 {
    width: 50%;

    
}

.cursive {
    /* margin-top: -25px; */
    /* margin-right: 935px; */
    /* margin-bottom: 726px; */
    /* margin-left: 182px; */
    text-align: center;

}



.log_in {
    width: 134px;
    height: 68px;
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    /* outline: 1px solid red; */
    position: absolute;
    top: 230px;
    left: 84px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.email {
    height: 60px;
    width: 560px;
    /* left: 85px;
    top: 355px; */
    padding-left: 40px;
    outline:none;
    border-radius: 20px;
    border:1px solid #aeaeae;
    font-size: 20px;
    
    

}

.pass {
    height: 60px;
    width: 560px;
    /* left: 85px;
    top: 355px; */
    padding-left: 40px;
    outline:none;
    border-radius: 20px;
    border:1px solid #aeaeae;
    margin-top: 33px;
    font-size: 20px;
    
}

input::placeholder {
    font-size: 20px;
    color: #AEAEAE;
}

.box {
    height: 44px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    /* flex: none; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: #9A9797;
    margin-top: 17px;
    

}
.me {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.in {
    height: 66px;
    width: 573px;
    left: 84px;
    top: 602px;
    border-radius: 30px;
    padding: 15px 251px 15px 251px;
    display: flex;
    flex-direction: row;
    background: #F88C70;
    border-radius: 30px;
    border: #F88C70;
    margin-top: 33px;
    cursor: pointer;
}

.log {
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    flex: none;
    color: #FFFFFF;
    /* margin-top: 33px; */

}

.img1,.img2 {
    height:2px;
    width: 251px;

}


.imgbox {
    display: flex;  
    justify-content: space-between;
    margin-top: 45px;
}

.or {
    color: gray;
    margin-top: -10px;
}
.divbox {
    width: 250px;
    height: 88px;
    margin: auto;
    /* outline: 1px solid   pink; */
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.google,.twitter {
    width: 88px;
    height: 88px;
    border: 1px solid #FFCCBF;
    border-radius: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    cursor: pointer;
}

label {
    padding-left: 10px;
    cursor: pointer;
}   